<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>我的主页</title>

</head>
<body>
    <div id="app">
        <!--header-->
        <app-header></app-header>
        <div class="container">
            <!--picture-->
            <app-picture></app-picture>
            <!--nav-->
            <app-main-nav :user="userInfo"></app-main-nav>
            <!--main-->
            <div class="main-content">
                <section class="left">

                    <div class="info-card">
                        <div class="info-card-head">
                            <h3>公钥查找</h3>
                        </div>
                        <i-form class="info-card-body">
                            <i-form :label-width="0" id="info">
                                <Row>
                                    <i-col span="20">
                                        <form-item>
                                            <i-input placeholder="输入用户ID/用户名查找" v-model="publicKey"></i-input>
                                        </form-item>
                                    </i-col>
                                    <i-col span="4" style="text-align: center">
                                        <i-button type="primary" @click="toPublicKey">查找</i-button>
                                    </i-col>
                                </Row>
                            </i-form>
                    </div>

                    <div class="info-card">
                        <div class="info-card-head">
                            <h3>个人资料</h3>
                            <a @click="toChangeEmail">修改邮箱/密码</a>
                        </div>
                        <div class="info-card-body" style="overflow: hidden">
                            <i-form :label-width="80" id="info">
                                <Row>
                                    <i-col span="23" style="height: 45px">
                                    <form-item label="姓名：">
                                        <i-input readonly v-model="userInfo.usr_nm"></i-input>
                                    </form-item>
                                    </i-col>
                                    <i-col span="23" style="height: 45px">
                                        <form-item label="ID：">
                                            <i-input readonly v-model="userInfo.usr_id"></i-input>
                                        </form-item>
                                    </i-col>
                                    <i-col span="23" style="height: 45px">
                                        <form-item label="邮箱：">
                                            <i-input readonly v-model="userInfo.email">
                                            </i-input>
                                        </form-item>
                                    </i-col>
                                    <i-col span="23" style="height: 45px">
                                        <form-item label="密码：">
                                            <i-input  placeholder="pwd"
                                                      v-model="userInfo.password"
                                                      type="password"
                                                      readonly>
                                            </i-input>
                                        </form-item>
                                    </i-col>
                                    <i-col span="23" style="height: 45px">
                                        <form-item label="证件类型：">
                                            <i-select v-model="userInfo.usr_cert_cate">
                                                <i-option style="width: 100%" v-for="item in certList" :value="item.value" :key="item.value">{{ item.label }}</i-option>
                                            </i-select>
                                        </form-item>
                                    </i-col>
                                    <i-col span="23" style="height: 45px">
                                        <form-item label="证件：">
                                            <i-input v-model="userInfo.id_nmbr"></i-input>
                                        </form-item>
                                    </i-col>
                                    <i-col span="23" style="height: 45px">
                                        <form-item label="电话：">
                                            <i-input v-model="userInfo.tel"></i-input>
                                        </form-item>
                                    </i-col>
                                    <i-col span="23" style="height: 45px">
                                    <form-item label="地址：">
                                        <i-input v-model="userInfo.addr"></i-input>
                                    </form-item>
                                    </i-col>
                                    <i-col span="24" style="text-align: center">
                                        <i-button type="primary">提交修改</i-button>
                                    </i-col>
                                </Row>
                            </i-form>
                        </div>
                    </div>
                </section>
                <section class="right">
                    <router-view></router-view>
                </section>
            </div>
            <!--footer-->
        </div>

    </div>

    <script src="../../dist/myMainPage.bundle.js"></script>
    <link rel="stylesheet" href="../../css/main.css">
    <link rel="stylesheet/less" type="text/css" href="../../css/classes.less">
    <script src="../../node_modules/less/dist/less.js"></script>
    <style>
        #info .ivu-form .ivu-form-item-label{
            font-size: 14px !important;
        }
    </style>
</body>
</html>
